.navbar {
  background-color: #002b5b;
}

.container-fluid {
  background-color: #002b5b;
}

.center-card {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-child img {
  background-color: black;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
}
